<script>
import MyMotus from './MyMotus.vue';
import MyMotusOld from './MyMotusOld.vue';
import gql from 'graphql-tag';

export default {
  name: 'Home',
  components: {
    MyMotus,
    MyMotusOld,
  },
  computed: {
    gamesArray: function() {
      return Object.values(this.games);
    },
  },
  data() {
    return {
      round: { wordLength: 7 },
      games: {},
      timeouts: {}
    };
  },
  methods: {
    countNbTriesPerRound(game) {
      if (game.roundNumber === 0) {
        return game.totalGuesses;
      } else {
        return (game.totalGuesses / (game.roundNumber)).toFixed(3);
      }
      
    }
  },
  apollo: {
    $subscribe: {
      onTry: {
        query: gql`
          subscription {
            onTry {
              teamName
              command
              gameId
              roundNumber
              wordLength
              firstLetter
              guesses {
                validation
                word
              }
              totalGuesses
            }
          }
        `,
        result({ data: { onTry } }) {
          const teamName = onTry.gameId.slice(0, -3);
          this.games[teamName] = onTry;
          this.games[teamName].state = null;
          if (onTry.command === 'LOST_ROUND') {
            this.games[teamName].state = 'FAILED';
          }

          this.games[teamName].nbTriesPerRound = this.countNbTriesPerRound(this.games[teamName]);
          if (onTry.command === 'NEW_ROUND') {
            this.games[teamName].state = 'FOUND';
            setTimeout(() => {
              this.games[teamName].state = null;
            }, 1500);
          }
        },
      }
    }
  }
}
</script>

<template>
  <div class="home flex justify-around text-green-500 h-full items-center flex-wrap">
    <template v-for="game in gamesArray">
      <transition name="fade">
        <div class="flex-col relative p-4">
          <div class="mb-2 text-2xl font-bold flex justify-between">
            <div>
              {{ game.gameId.slice(0, -3) }} - {{ game.gameId.slice(-3) }}
            </div>
            <div>
              ~{{ game.nbTriesPerRound }}
            </div>
          </div>
          <MyMotusOld :tries="game.guesses || []" :length="game.wordLength" :gridScale="1" :key="game.gameId + game.wordLength"/>
          
          <div class="gauge relative">
            <div
              class="z-0 absolute h-full w-full bg-green-700 rounded top-0 left-0"
              :style="{ width: ((game.roundNumber + 1) / 500) * 100 + '%' }"
            >
            </div>
            <div class="z-1 absolute h-full w-full rounded top-0 left-0">{{ game.roundNumber + 1 }} / 500</div>
          </div>

          <div class="state absolute w-full h-full top-0 left-0">
              <div
                class="w-full h-full bg-red-300 bg-opacity-25 text-red-500 text-4xl font-bold flex items-center justify-center"
                v-if="game.state === 'FAILED'"
              >
                FAILED HACK
              </div>
              <div
                class="w-full h-full bg-white-300 bg-opacity-25 text-white-500 text-4xl font-bold flex items-center justify-center"
                v-if="game.state === 'FOUND'"
              >
                FOUND PASSWORD
              </div>
          </div>
        </div>
      </transition>
    </template>
  </div>
</template>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.gauge {
  @apply h-6 bg-green-900 text-green-400 font-bold mt-2 rounded;
}
</style>