<script>
export default {
  name: 'MotusGridNew',
  props: {
    length: Number,
    tries: Array,
    mini: Boolean,
    gridScale: Number,
  },
  data() {
    return {
      rows: [],
      line: []
    };
  },
  mounted() {
    this.rows = new Array(this.mini ? this.tries.length : 6).fill({});
    this.line = new Array(this.length).fill({});
  },
  computed: {
    gridLayoutStyle() {
      let size = this.mini ? 1.4 : 2;
      size = this.mini ? size : size * this.gridScale;
      return `
        grid-template-rows: repeat(${this.mini ? this.tries.length : 6}, minmax(0, 1fr));
        grid-template-columns: repeat(${this.length}, minmax(0, 1fr));
        width: ${size * this.length}rem;
        height: ${this.mini ? size * this.tries.length : size * 6}rem;
      `;
    }
  }
}
</script>

<template>
<div>
  <div
    class="motus-grid"
    :class="{ 'mini': mini }"
    :style="gridLayoutStyle"
  >
    <template v-for="(row, rowIndex) in rows">
      <template v-for="(cell, cellIndex) in line" :key="cellIndex">
        <div 
          class="grid-cell"
          :style="{
            'font-size': (mini ? 1.2 : 1.4 * gridScale) + 'rem' ,
            'width': (mini ? 1.4 : 2 * gridScale) + 'rem' ,
            'height': (mini ? 1.4 : 2 * gridScale) + 'rem' ,
          }">
          <transition name="key-bounce" mode="out-in">
            <div
              class="cell-content"
              :key="cell + (tries[rowIndex] ? tries[rowIndex].word[cellIndex] : '')"
              :class="[
                tries[rowIndex] ? tries[rowIndex].validation[cellIndex] : ''
              ]"
            >
              {{ tries[rowIndex] ? tries[rowIndex].word[cellIndex] : '' }}
            </div>
          </transition>
        </div>
      </template>
    </template>
  </div>
</div>
</template>

<style scoped>
.motus-grid {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  user-select: none;
  cursor: pointer;
}

.grid-cell {
  margin: 0;
  @apply border border-green-400 font-bold text-green-400 text-5xl flex justify-center items-center;
}

.cell-content {
  @apply w-full h-full flex justify-center items-center;
}
/* Letter is ok , red */
.cell-content.correct {
  @apply bg-green-700;
}

/* letter is misplaced, yellow */
.cell-content.misplaced {
  @apply bg-green-900 rounded-full;
}

.key-bounce-enter-active {
  animation: bounce-in .1s;
}
.key-bounce-leave-active {
  animation: bounce-in .1s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
</style>