<script>
export default {
  name: 'MotusGridNew',
  props: {
    teamId: String,
    round: Object,
    tries: Array,
  },
  computed: {
    squareNb() {
      return new Array(this.round.wordLength * 6);
    },
    filedTry() {
      const missingTries = this.round.wordLength - this.tries.length;
      let filedTry = this.tries;
      for (var i = 0; i < missingTries; i++) {
        filedTry.push({ validation: ['-', '-', '-', '-', '-'], mask: 'x', word: '------' });
      }
      return filedTry;
    }
  },
}
</script>

<template>
  <div class="motus" :style="`grid-template-columns: repeat(${round.wordLength}, 5rem)`">
    <div v-for="(squareIndex, index) in squareNb" :key="index" class="letter">
      <div
        class="color"
        :class="{
          'yellow': filedTry[Math.floor(index / round.wordLength)].validation[index % round.wordLength] === 'misplaced',
          'red': filedTry[Math.floor(index / round.wordLength)].validation[index % round.wordLength] === 'correct'
        }"
      >
      {{filedTry[Math.floor(index / round.wordLength)].word[index % round.wordLength]}}
      </div>
    </div>
</div>
</template>

<style scoped>
  .motus {
    display: grid;
    border: 1px solid white;
    grid-template-rows: repeat(6, 5rem);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .letter {
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
  }

  .color {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    @apply bg-red-500;
  }

  .yellow {
    @apply bg-yellow-500 rounded-full;
  }
</style>