<template>
  <router-view/>
</template>

<style>
html, #app, body{
  background-color: black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;

  @apply bg-green-900 bg-opacity-30;
}
body {
  background-color: #000000;
};
</style>
